<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div> -->

<div class="row  p-0">
  <div class=" col-sm-4 caja2 p-0">
    <!-- verificar, modificar imagen, esta pixeleada -->

    <img src="../../../assets/img/rostro3.jpg" alt="rostro" class="img-fluid img-foto">
  </div>



  <div class=" col-sm-4 caja2 p-0 ">
    <img src="../../../assets/img/prod1v.jpg" alt="ácido hialurónico">



  </div>
  <div class=" contenedor col-sm-4 p-0 caja2 ">

    <img src="../../../assets/img/rostro8.jpg" alt="rostro fondo" class="img-fondo">

    <div class="texto-encima">
      <h5>ÁCIDO HIALURÓNICO</h5>
      <p>Elimina y previene que salgan nuevas líneas de expresión</p>
      <p>Hidrata y cuida la piel</p>
      <p>Reduce manchas causadas por el sol</p>
      <p>ofrece luminosidad</p>
      <p>Estimula la producción de colageno</p>



    </div>
    <div class="centrado"></div>


  </div>


</div>
<hr>
<div class="col-12">
  <div class="row p-0">
    <div class="col-sm-5  caja2 p-0">
      <img src="../../../assets/img/prod1v.jpg" alt="ácido hialurónico">
    </div>
    <div class="col-sm-7 p-0  ">
      <div class="col-12 caja2 p-0  caja3">
          <img src="../../../assets/img/rostro7.jpg" alt="rostro" class="img-fluid img-foto">
      </div>
      <div class="col-12  caja3 p-0">
        <img src="../../../assets/img/rostro8.jpg" alt="rostro fondo" class="img-fondo">
        <div class="texto-encima">
          <h5 class="text-center">ÁCIDO HIALURÓNICO</h5>
          
          <p>Elimina y previene que salgan nuevas líneas de expresión</p>
          <p>Hidrata y cuida la piel</p>
          <p>Reduce manchas causadas por el sol</p>
          <p>ofrece luminosidad</p>
          <p>Estimula la producción de colageno</p>



        </div>
      </div>
    </div>
  </div>
</div>