<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <a type="button" class="btn bg-primary text-light "
        href="https://api.whatsapp.com/send?phone=525573312810&text=Hola%2C%20deseo%20adquirir%20un%20soporte%20con%20ustedes">whatsapp</a> -->
      <div class="wh-api">
        <div class="wh-fixed ">
          <div class=" col-12 float-right ml-5">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-light ">&times;</span>
            </button>
          </div>
          <a
            href="https://api.whatsapp.com/send?phone=525573312810&text=Hola%2C%20deseo%20adquirir%20un%20producto%20de%20Beauty%20Royal">
            <button class="wh-ap-btn"></button>
          </a>
        </div>
      </div>

    </div>
  <!-- </div> -->
</div>