<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>LAYOUT</title>
</head>
<body>
    <h1> LAYOUT 2</h1>
    <div id="agrupar">
        <header id="cabecera">
            <h1>ESTE ES EL TITULO PRINCIPAL DEL SITIO WEB </h1>

        </header>

        <nav id="menu">
            <ul>
                <li>PRINCIPAL</li>
                <li>FOTOS</li>
                <li>VIDEOS</li>
                <li>CONTACTO</li>
            </ul>

        </nav>

        <section id="seccion">

        </section>

        <aside id="columna">

        </aside>

        <footer id="pie">

        </footer>


    </div>
</body>
</html>