<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card div-fotos1">
        <img src="../../../assets/img/prod1v.jpg" alt="producto-1"  class="card-img-top img-fluid">
        <div class="card-body">
          <p class="card-text"> <strong>Ácido hialurónico</strong> </p>
          <button class="btn btn-primary btn-sm float-right mt-5" data-toggle="modal" data-target="#acidoHialuronico">detalles</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card div-fotos1">
        <img src="../../../assets/img/suerofacial1.jpg" alt="producto-2"  class="card-img-top img-fluid ">
        <div class="card-body">
          <p class="card-text"> <strong>Suero facial SFB</strong> </p>
          <button class="btn btn-primary btn-sm float-right mt-5" data-toggle="modal" data-target="#sueroFacial">detalles</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card div-fotos1">
        <img src="../../../assets/img/bayas1.jpg" alt="producto3"  class="card-img-top img-fluid img-cartazyz">
        <div class="card-body border">
          <p class="card-text"> <strong>Extracto de bayas de goji con ácido</strong> </p>
          <button class="btn btn-primary btn-sm float-right mt-5" data-toggle="modal" data-target="#extractoBayas">detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>